#main {
  margin-top: 66px;
}
.presentation-th {
  width: 9%;
}

.align-bottom {
  position: absolute;
  bottom: 0px;
}

.img-fixed {
  height: 100px;
  width: 100px;
  border: 1px #999999 solid;
  border-radius: 2px;
}
.speaker-img {
  display: flex;
}

.vertical-align {
  align-items: center;
  height: auto;
  padding-top: 12px;
}

.speaker-item {
  margin: 4px 4px 8px 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.speaker-name {
  align-self: center;
  text-align: center;
  width: 140px;
  font-weight: bold;
  font-size: 1.05em;
}

.speaker-company {
  align-self: center;
  font-weight: bolder;
}

.speaker-position {
  width: 140px;
  text-align: center;
}

.speakers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.speakers-container a.speaker-link:hover {
  background-color: #EEEEEE;
}

.speakers-container a.speaker-link {
  color: black;
}

td a.presentation-link:hover {
  background-color: #EEEEEE;
}

td a.presentation-link {
  color: black;
}

.pr-status {
  height: 20px;
  width: 20px;
  border: 1px #00FF88 solid;
  border-radius: 10px;
  background-color: #00FF88;
}

.presentation-tr td{
  line-height: 1.1em !important;
  padding: 1px !important;
  vertical-align: middle !important;
  border-top: 1px solid #E9E9E9 !important;
}
td>button.btn-sm {
  line-height: 1.1em;
}
.sr-header {
  background-color: #E1E1E1;
}

.sr-header :hover {
  background-color: #E9E9E9;
}

.presentation-tr .presentation-title {
  padding-left: 10px !important;
  font-weight: bold;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
